/node_modules
/yarn.lock
/dev/cpresources
/dev/lib
/dev/.htaccess
/dev/index.php
/public_html/lib
/public_html/.htaccess
/public_html/index.php
/cms/templates/_layout.twig
/cms/config/license.key
.env