<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

    {# hook 'seomaticRender' #}
    
    <link rel="shortcut icon" href="/lib/img/favicon.ico">
    <link href="lib/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" />

    {# <link href="https://fonts.googleapis.com/css?family=Open+Sans|Fjalla+One" rel="stylesheet"> #}

    {# NOTE: CREATE AND INSERT FAVICON LINKS AND META TAGS - Can use "http://realfavicongenerator.net/" #}
  </head>

  <body>

    <div id="app">

        {# HEADER #}
        <header role="banner">
            {% block header %}{% endblock %}
        </header>

        {# MAIN #}
        <main role="main">
            {% block main %}{% endblock %}
        </main>

        {# FOOTER #}
        <footer role="contentinfo">
            {% block footer %}{% endblock %}
        </footer>

    </div>    

    {# NOTE: INSERT GOOGLE ANALYTICS CODE #}

    {# NOTE: Webpack Script Bundles Auto Created By HtmlWebpackPlugin and placed here #}
  </body>
</html>
