@charset "UTF-8";
:root:root {
  /* Deleted, inserted, marked */
  /* Quote, source citation */
  /* Superscript, subscript, small print */
  /* Code, variable, keyboard shortcut */
  /* Alignment */
  /* Text color */ }
  :root:root .redactor-styles del {
    text-decoration: line-through; }
  :root:root .redactor-styles ins {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    text-decoration: none; }
  :root:root .redactor-styles mark {
    font-family: inherit;
    font-size: 1em !important;
    background-color: #FDFFAD; }
  :root:root .redactor-dropdown-item-deleted span {
    text-decoration: line-through; }
  :root:root .redactor-dropdown-item-inserted span {
    margin-left: 4px;
    padding: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    border-radius: 0; }
  :root:root .redactor-dropdown-item-inserted:hover span {
    border-color: #FFF; }
  :root:root .redactor-dropdown-item-marked span {
    background-color: #FDFFAD;
    color: #000;
    text-decoration: none; }
  :root:root .redactor-styles q,
  :root:root .redactor-dropdown-item-quote span {
    quotes: '\AB\A0' '\A0\BB';
    /* FR */
    quotes: '\201E' '\201C' '\201A' '\2018';
    /* DE */
    quotes: '\201C' '\201D' '\2018' '\2019';
    /* EN_US */ }
  :root:root .redactor-styles q,
  :root:root .redactor-styles q:before,
  :root:root .redactor-styles q:after,
  :root:root .redactor-styles cite {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5); }
  :root:root .redactor-styles q:before {
    content: open-quote; }
  :root:root .redactor-styles q:after {
    content: close-quote; }
  :root:root .redactor-dropdown-item-quote span,
  :root:root .redactor-dropdown-item-quote span:before,
  :root:root .redactor-dropdown-item-quote span:after,
  :root:root .redactor-dropdown-item-sourceCitation span {
    position: relative;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5); }
  :root:root .redactor-dropdown-item-quote span:before,
  :root:root .redactor-dropdown-item-quote span:after {
    position: absolute;
    top: 0; }
  :root:root .redactor-dropdown-item-quote span:before {
    content: open-quote;
    left: -0.2em; }
  :root:root .redactor-dropdown-item-quote span:after {
    content: close-quote;
    right: -0.2em; }
  :root:root .redactor-styles sup,
  :root:root .redactor-styles sub,
  :root:root .redactor-dropdown-item-superscript span,
  :root:root .redactor-dropdown-item-subscript span {
    font-size: 0.8em; }
  :root:root .redactor-styles small,
  :root:root .redactor-dropdown-item-smallPrint span {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.7em !important; }
  :root:root .redactor-styles pre,
  :root:root .redactor-styles code,
  :root:root .redactor-styles var,
  :root:root .redactor-styles kbd,
  :root:root .redactor-dropdown-item-code span,
  :root:root .redactor-dropdown-item-variable span,
  :root:root .redactor-dropdown-item-shortcut span {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em; }
  :root:root .redactor-styles pre,
  :root:root .redactor-styles code,
  :root:root .redactor-dropdown-item-code span {
    background: rgba(0, 0, 0, 0.05); }
  :root:root .redactor-dropdown-item-code span {
    border: 1px solid #F3F3F3; }
  :root:root .redactor-styles var,
  :root:root .redactor-dropdown-item-variable span {
    color: rgba(0, 0, 0, 0.5); }
  :root:root .redactor-dropdown-item-shortcut span {
    padding: 0.25em;
    border: 1px solid #e5e7e9;
    white-space: nowrap; }
  :root:root .redactor-styles .align-left {
    text-align: left; }
  :root:root .redactor-styles .align-center {
    text-align: center; }
  :root:root .redactor-styles .align-right {
    text-align: right; }
  :root:root .redactor-styles .align-justify {
    text-align: justify; }
  :root:root .redactor-styles .color-red,
  :root:root .redactor-dropdown-item-red span {
    color: #DA5B47; }
  :root:root .redactor-styles .color-green,
  :root:root .redactor-dropdown-item-green span {
    color: #3CB371; }
  :root:root .redactor-dropdown-item-red:hover span,
  :root:root .redactor-dropdown-item-green:hover span {
    color: #FFF; }
  :root:root .redactor-styles span.favorite,
  :root:root .redactor-dropdown-item-favorite span {
    border-radius: 2px;
    padding: 0.125em 0.25em;
    background-color: #FFEBEB; }
  :root:root .redactor-styles * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem; }
  :root:root .redactor-styles h1, :root:root .redactor-styles h2, :root:root .redactor-styles h3, :root:root .redactor-styles h4, :root:root .redactor-styles h5, :root:root .redactor-styles h6 {
    font-weight: 700; }
    :root:root .redactor-styles h1 span, :root:root .redactor-styles h2 span, :root:root .redactor-styles h3 span, :root:root .redactor-styles h4 span, :root:root .redactor-styles h5 span, :root:root .redactor-styles h6 span {
      font-weight: 300; }
  :root:root .redactor-styles a.btn {
    background-image: none;
    border-radius: 0.25rem; }

/*
These will all display proper styling in Redactor to match
the front-end website styling. An accompanying dropdown 
customStyle is necessary

See: ~/cms/config/redactor/Kinoli.json
*/
:root:root .redactor-styles p.lead-in {
  font-size: 1.25rem;
  line-height: 1.5; }

:root:root .redactor-dropdown-item-lead-in {
  font-size: 1.25rem;
  line-height: 1.5; }

:root:root .redactor-styles p.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #fff; }
  :root:root .redactor-styles p.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #e6e6e6; }
  :root:root .redactor-styles p.btn-primary:focus, :root:root .redactor-styles p.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  :root:root .redactor-styles p.btn-primary.disabled, :root:root .redactor-styles p.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #fff; }
  :root:root .redactor-styles p.btn-primary:not(:disabled):not(.disabled):active, :root:root .redactor-styles p.btn-primary:not(:disabled):not(.disabled).active,
  .show > :root:root .redactor-styles p.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #dfdfdf; }
    :root:root .redactor-styles p.btn-primary:not(:disabled):not(.disabled):active:focus, :root:root .redactor-styles p.btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > :root:root .redactor-styles p.btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }

:root:root .redactor-dropdown-item-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #fff; }
  :root:root .redactor-dropdown-item-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #e6e6e6; }
  :root:root .redactor-dropdown-item-btn-primary:focus, :root:root .redactor-dropdown-item-btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  :root:root .redactor-dropdown-item-btn-primary.disabled, :root:root .redactor-dropdown-item-btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #fff; }
  :root:root .redactor-dropdown-item-btn-primary:not(:disabled):not(.disabled):active, :root:root .redactor-dropdown-item-btn-primary:not(:disabled):not(.disabled).active,
  .show > :root:root .redactor-dropdown-item-btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #dfdfdf; }
    :root:root .redactor-dropdown-item-btn-primary:not(:disabled):not(.disabled):active:focus, :root:root .redactor-dropdown-item-btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > :root:root .redactor-dropdown-item-btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }

:root:root .redactor-styles p.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #fff; }
  :root:root .redactor-styles p.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #e6e6e6; }
  :root:root .redactor-styles p.btn-secondary:focus, :root:root .redactor-styles p.btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  :root:root .redactor-styles p.btn-secondary.disabled, :root:root .redactor-styles p.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #fff; }
  :root:root .redactor-styles p.btn-secondary:not(:disabled):not(.disabled):active, :root:root .redactor-styles p.btn-secondary:not(:disabled):not(.disabled).active,
  .show > :root:root .redactor-styles p.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #dfdfdf; }
    :root:root .redactor-styles p.btn-secondary:not(:disabled):not(.disabled):active:focus, :root:root .redactor-styles p.btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > :root:root .redactor-styles p.btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }

:root:root .redactor-dropdown-item-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #fff; }
  :root:root .redactor-dropdown-item-btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #e6e6e6; }
  :root:root .redactor-dropdown-item-btn-secondary:focus, :root:root .redactor-dropdown-item-btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  :root:root .redactor-dropdown-item-btn-secondary.disabled, :root:root .redactor-dropdown-item-btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #fff; }
  :root:root .redactor-dropdown-item-btn-secondary:not(:disabled):not(.disabled):active, :root:root .redactor-dropdown-item-btn-secondary:not(:disabled):not(.disabled).active,
  .show > :root:root .redactor-dropdown-item-btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #dfdfdf; }
    :root:root .redactor-dropdown-item-btn-secondary:not(:disabled):not(.disabled):active:focus, :root:root .redactor-dropdown-item-btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > :root:root .redactor-dropdown-item-btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }

